


.SeleccionM{
    position: absolute;
    width: 200%;
    color:white;
      
}
.MesaImg{
    
    top: 25%;
    border-radius:0%;
    margin-right: 50px;
    margin-left: 50px;

}
.grupoUno{
    display:flex;
    flex-direction: row;
}
