
.FormuC{
 background-color: white;
 width: 50%;
 height: 250px;
 margin-left:250px;
 margin-top: 60px;
 display: flex;
 flex-direction: column;
 box-shadow: inset 20px 20px 20px rgba(255,255,255,.7), inset -2px -2px 2px rgba(0,0,0,.1), 16px 16px 16px rgba(0,0,0,.1);
 border: 1px solid #9b9bff; /* Borde */
 

}
.textoFormu{
    color:black;
    text-align: center;
}
.inputOne{
    width: 90%;
    height: 60%;
}
.inputTwo{
    width: 90%;
    height: 60%;
}

.titleForm{
    height: 30%;
    justify-content: center;
    align-items: center;
}

.emailForm{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.passForm{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitForm{
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.emailIcon{
    position: absolute;
    right: 29%;
}

.boton{
    background-color: blue;
    width: 150px;
    height: 45%;
    margin-right: 20px;
    justify-content: center;
    display:flex;
    align-items: center;
    color:White;
    
        box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
        width: 90px;  /* Ancho del bot칩n */
        border: 1px solid #9b9bff; /* Borde */
        background: #7777ff;  /* Fondo */
        text-align: center;  /* Alineaci칩n del texto */
        text-shadow: -1px -1px rgba(0,0,0,.2);  /* Sombra del texto */
        border-radius: 5px;  /* Bordes redondos */
        color: white;  /* Color del texto */
}
.boton:active /* Al presionarse el bot칩n */ {
        text-shadow: 1px 1px rgba(0,0,0,.3);  /* Sombra del texto */
        background:#3d3dff;  /* Fondo m치s oscuro que el original */
        box-shadow:inset 4px 4px 4px rgba(0,0,0,.3), inset -3px -3px 3px rgba(255,255,255,.2);
}